# Variáveis do Banco de Dados MongoDB
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=sua_senha_root_aqui

# Variáveis do Backend Node.js
PORT=3000
JWT_SECRET=sua_chave_secreta_super_segura
MONGODB_URI=mongodb://admin:sua_senha_root_aqui@mongodb:27017/cadastros?authSource=admin
FRONTEND_URL=http://localhost:8080

# Variáveis do Backend Flask
FLASK_DEBUG=False

# Variáveis do Frontend React
VITE_API_URL=/api
VITE_API_FLASK_URL=/api-flask
