# Dependencies
node_modules/
**/node_modules/

# Production builds
dist/
**/dist/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env
**/.env.local

# Database files
*.sqlite
*.sqlite3
instance/
**/instance/

# Python cache
__pycache__/
**/__pycache__/
*.pyc

# IDEs and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
